{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="bahrStoreSystem">

        <!-- Start Head -->
        <div class="head">
            <div class="mainTitle">
                <h2>ادارة الـمـخــــازن</h2>
            </div>
        </div>
        <!-- End Head -->

      <!-- Start Dropdown -->
      <div class="storeContainer">
          <div class="storeHeader">
              <h2>الأقسام</h2>
              <select id="categorySelect" class="dropdown">
                  <option value="all">كل الأقسام</option>
                  <option value="هودى">هودى</option>
                  <option value="تيشرتات">تيشرتات</option>
                  <option value="كوتشيات">كوتشيات</option>
                  <option value="سليبر">سليبر</option>
                  <option value="بوكليت">بوكليت</option>
                  <option value="قمصان">قمصان</option>
                  <option value="جواكيت">جواكيت</option>
                  <option value="كروكسات">كروكسات</option>
                  <option value="كابات">كابات</option>
                  <option value="بناطيل جينز">بناطيل جينز</option>
                  <option value="بناطيل ميلتون">بناطيل ميلتون</option>
                  <option value="شربات">شربات</option>
                  <option value="ترنجات">ترنجات</option>
                  <option value="ملابس داخليه">ملابــس داخليــه</option>
              </select>
          </div>
          <!-- End Dropdown -->

          <!-- Start Table -->
          <div id="tableContainer"></div>
          <!-- End Table -->

      </div>

      <!-- Start Scroll Button -->
      <div id="btnScroll">^</div>
      <!-- End Scroll Button -->

    </div>
    <script src="{% static "js/stores.js" %}"></script>
</body>
</html>
{% endblock content %}